.main__about {
    padding: 80px 0 100px;
}
.about-main {
    background-color: $color-light-xl;
}

.about-main__body {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
.about-main__image-container{
 width: 300px;
}
.about-main__image {
   padding-bottom: 136%;
}

.about-main__content {
    max-width: 430px;
    :last-child {
        margin-bottom: 0;
    }
}

.about-main__title {
    max-width: 370px;
    margin-bottom: 25px;
}

.about-main__text {
    font-family: "Arial";
    font-size: 15px;
    line-height: 1.6;
    color: $color-dark-xl;
    margin-bottom: 25px;
}

@media (max-width: 860px) {
    .main__about {
        padding-top: 0;
    }
    .about-main__body {
        display: block;
    }
    .about-main__content {
        margin: 80px auto;
    }
    .about-main__image-container{
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .main__about{
        padding-bottom: 42px;
    }
    .about-main__title {
        font-size: 25px;
        max-width: 290px;
    }
    .about-main__content {
        margin-top: 42px;
    }
    .about-main__title {
        text-align: center;
        margin: 0 auto 25px;
    }
    .about-main__content {
        margin-bottom: 42px;
    }
    .about-main__text {
        margin: 0 15px 20px;
        text-align: justify;
    }
    .about-main__image-container{
        width: 260px;
    }
}
