.main__about {
 padding: 80px 0 100px;
}
.about-main {
    background-color: $color-light-xl;
}

.about-main__body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

.about-main__content {
    max-width: 430px;
    :not(:last-child){
        margin-bottom: 25px;
    }
}

.about-main__text {
    font-family: "Arial";
    font-size: 15px;
    line-height: 1.6;
    color: $color-dark-xl;
}
