.main__addition {
    padding: 80px 0 98px;
}
.addition-main {
    background-color: $color-light-l;
}

.addition-main__body {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.addition-main__content {
    flex: 0 1 31.67%;
}
.addition-main__image-container {
    flex: 0 1 42.08%;
}
.addition-main__image {
    padding-bottom: 51.68%;
}
.contennt-addition-main__title {
    max-width: 300px;
    margin-bottom: 20px;
}
.contennt-addition-main__subtitle {
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.06em;
    color: $color-dark-l;
    margin-bottom: 20px;
}
.contennt-addition-main__link {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    min-height: 43px;
    padding: 10px 15px 10px 60px;
    border-radius: 9px;
    background-color: $color-primary;
    &::before {
        content: "";
        position: absolute;
        left: 15px;
        background-image: url(../img/addition/ico.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 23px;
    }
    margin-bottom: 20px;
}
.contennt-addition-main__text {
    font-family: "Arial";
    font-style: italic;
    font-size: 12px;
    line-height: 1.5;
    color: $color-dark-m;
}

@media (max-width: 1164px) {
    .addition-main__body {
        display: block;
    }
    .addition-main__content {
        max-width: 600px;
        margin: 0 auto 60px;
    }
    .addition-main__image-container {
        width: 70.5%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .main__addition {
       padding-bottom: 102px;
    }
    .addition-main__content {
        max-width: 380px;
    }
}

@media (max-width: 500px) {
    .main__addition {
        padding: 42px 0;
    }
    .addition-main__content {
        margin-bottom: 50px;
        text-align: center;
    }
    .contennt-addition-main__title {
        font-size: 25px;
        max-width: 225px;
        margin: 0 auto;
    }
    .contennt-addition-main__subtitle {
        letter-spacing: 0;
    }
    .contennt-addition-main :not(:last-child) {
        margin-bottom: 24px;
    }
    .contennt-addition-main__link {
        font-size: 15px;
    }
    .contennt-addition-main__text {
        text-align: justify;
        margin: -5px 10px;
    }
    .addition-main__image-container {
        width: 85%;
        margin-top: 10px;
    }
}
