.main__friends {
    padding: 80px 0 100px;
}
.friends-main {
    background-color: $color-light-l;
}

.friends-main__body {
    position: relative;
    text-align: center;
}
.friends-main__title {
    max-width: 400px;
    margin: 0 auto 60px;
}

.friends-main__slider {
    max-width: 990px;
    margin-bottom: 60px;
}

.item-friends {
    background-color: $color-light-s;
    border-radius: 9px;
    text-align: center;
    > * {
        margin-bottom: 30px;
    }
    cursor: pointer;
}

.item-friends__button {
    border: 2px solid $color-primary;
    transition: 0.3s;
    &:hover {
        border: 2px solid $color-primary-light;
        background-color: $color-primary-light;
    }
}
.friends-main__slider-arrows {
    width: 100%;
    position: absolute;
    top: calc(50% + 15px);
    display: flex;
    justify-content: space-between;
}
.friends-main__navigatio_next {
    transform: rotate(180deg);
}

.friends-main__button {
    background-color: $color-primary;
    transition: 0.3s;
    &:hover {
        background-color: $color-primary-light;
    }
}
